<!-- Three columns of text below the carousel -->
<div class="container marketing mx-auto">
    <h4 class="text-muted my-3">Ingresa el código de tu paquete</h4>
    <div class="shadow p-3 mb-5 pt-4 pb-4 white rounded wrapper">
        <form #saveForm="ngForm" (ngSubmit)="searchReference(saveForm)">
            <div class="row center-block">
                <div class="col-md-4">
                    <h6>Reference</h6>
                    <select name="reference" class="form-control" [(ngModel)]="currentSelection" (change)="mostrarSeleccionAntesDeAgregar()"
                        [disabled]="!selectable">
                        <option *ngFor='let ref of referencesCode?.select; let i = index'>
                            <div>{{ ref }}</div>
                        </option>
                    </select>

                </div>

                <div class="col-md-4">
                    <h6>Code</h6>
                    <input [ngClass]=" { 'has-error' : addNumbersLength > 9 }" class="form-control" type="text" name="number1"
                        placeholder="" [(ngModel)]="fieldCode" #numbers="ngModel" minlength="0" maxlength="10"
                        autocomplete="off" (keyup)="addNumbers()">
                    <span class="text-error">
                        <span class="text-blue" *ngIf="addNumbersLength > 0 && addNumbersLength < 10">Cantidad de
                            dígitos ingresados: {{ addNumbersLength }}</span>
                        <span *ngIf="addNumbersLength > 9">Sólo puede ingresar 9 dígitos.</span>
                    </span>
                    <span class="mt-4" *ngIf="!addNumbersLength > 0">Ingresa únicamente nueve dígitos</span>
                </div>

                <div class="col-md-4">
                    <h6>Currency</h6>
                    <select name="currency" class="form-control" [(ngModel)]="currencySelection" (change)="mostrarSeleccionAntesDeAgregar()"
                        [disabled]="!selectable">
                        <option *ngFor='let cur of referencesCode?.currency; let i = index'>
                            <div>{{ cur }}</div>
                        </option>
                    </select>
                </div>

                <div class="col-md-6 mb-2">
                    <button [ngClass]=" { 'butt-active' : addNumbersLength > 8 }" class="btn btn-warning btn-lg mt-3 px-5"
                        [disabled]="!selectable">Buscar
                    </button>
                </div>

            </div>
        </form>
    </div>

    <div class="alert alert-danger" role="alert" *ngIf="!!errorMessage">
        El campo Code tiene más de 9 dígitos. <b>Filtre nuevamente</b> para que aparezacn sus pagos.
    </div>

    <div class="alert alert-primary" role="alert" *ngIf="tableList === undefined">
        No hay coincidencias.
    </div>

    <div *ngIf="!!showTable && tableList !== undefined">
        <h4 class="text-muted mb-3">Tus pagos</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Código de paquete</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Importe</th>
                    <th scope="col">Factura</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor='let pay of tableList?.payments; let i = index'>
                    <th scope="row">{{pay.codePackage}}</th>
                    <td>{{pay.date}}</td>
                    <td>{{pay.import}}</td>
                    <td>{{pay.bill}}</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>