<!-- Three columns of text below the carousel -->
<div class="container marketing mx-auto">
    <h4 class="text-muted my-3">Ingresa el código de tu paquete</h4>
    <div class="shadow p-3 mb-5 pt-5 pb-5 white rounded wrapper">
        <div class="row center-block">
            <div class="col-md-4">
                <select class="form-control">
                    <option *ngFor='let ref of referencesCode?.select; let i = index'>
                        <div>{{ ref }}</div>
                    </option>
                </select>
                <button type="button" class="btn btn-warning btn-lg butt-contact mt-3 px-5">Buscar</button>
            </div>

            <div class="col-md-4">
                <input class="form-control" type="text" placeholder="">
                <div class="mt-3">
                    Ingresa únicamente los nueve dígitos numéricos que te informamos en el telegrama
                </div>
            </div>

            <div class="col-md-4">
                <input class="form-control" type="text" placeholder="" value="AR" disabled>
            </div>
        </div>
    </div>

    <div>
        <h4 class="text-muted mb-3">Tus pagos</h4>
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">Código de paquete</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Importe</th>
                    <th scope="col">Factura</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th scope="row">012</th>
                    <td>22/11/2018</td>
                    <td>$120</td>
                    <td>PDF</td>
                </tr>
                <tr>
                    <th scope="row">345</th>
                    <td>23/11/2018</td>
                    <td>$100</td>
                    <td>PDF</td>
                </tr>
                <tr>
                    <th scope="row">678</th>
                    <td>24/11/2018</td>
                    <td>$300</td>
                    <td>PDF</td>
                </tr>
            </tbody>
        </table>
    </div>

</div>