<!-- Three columns of text below the carousel -->
<h4 class="pb-1 mt-5 text-center">Envíos Internacionales</h4>

<div class="col-lg-5 col-md-5 shadow px-5 py-5 mb-5 white rounded wrapper form-contact">
  <form>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label class="required" for="nombre">Nombre</label>
          <input type="text" class="form-control" id="nombreReg" aria-describedby="emailHelp" placeholder="">
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <label class="required" for="lastName">Apellido</label>
          <input type="text" class="form-control" id="lastNameReg" placeholder="">
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <label class="required" for="email">Email</label>
          <input type="email" class="form-control" id="emailReg" placeholder="">
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <label for="email">Confirmar email</label>
          <input type="email" class="form-control" id="emailRegConfirm" placeholder="">
        </div>
      </div>

      <div class="col-md-6 mt-4">
        <div class="form-group">
          <label class="required" for="doc">Documento</label>
          <select class="form-control">
            <option>Tipo</option>
            <option>DNI</option>
            <option>PASAPORTE</option>
            <option>LICENCIA DE CONDUCIR</option>
          </select>
        </div>
      </div>

      <div class="col-md-6 mt-4">
        <div class="form-group">
          <label class="required" for="number">Número</label>
          <input type="text" class="form-control" id="numberReg" placeholder="">
        </div>
      </div>

      <div class="col-md-6 mt-4">
        <div class="form-group">
          <label for="tel">Teléfono</label>
          <input type="text" class="form-control" id="telReg" placeholder="Código Área">
        </div>
      </div>

      <div class="col-md-6 mt-4">
        <div class="form-group">
          <label for=""></label>
          <input type="text" class="form-control mt-2" id="numTelReg" placeholder="Número de teléfono">
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group mt-4">
          <label for="pass">Contraseña</label>
          <input type="password" class="form-control" id="passReg1" placeholder="">
          <span class="text-muted validation">
            Debe contener al menos 8 caracteres y debe contener caracteres numéricos y alfanuméricos.
          </span>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group mt-4">
          <label for="pass">Repetir Contraseña</label>
          <input type="password" class="form-control" id="passReg2" placeholder="">
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group my-4">
          CAPTCHA
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1"> <b>Acepto los términos y condiciones</b></label>
        </div>

        <button type="submit" class="btn btn-lg btn-block btn-warning butt-contact mt-5">Registrarme</button>
      </div>

    </div><!-- /.row -->

  </form>
</div><!-- /.col-lg-5 -->