<!-- Three columns of text below the carousel -->
<h4 class="pb-1 mt-5 text-center">Envíos Internacionales</h4>

<div class="shadow col-lg-5 col-md-5 px-5 py-5 white rounded wrapper form-contact">
  <form>
    <div class="row">
      <div class="col-md-12">
        <div class="form-group">
          <label for="exampleNombre">Nombre</label>
          <input type="text" class="form-control" id="nombre" aria-describedby="emailHelp" placeholder="">
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <label for="exampleLast">Apellido</label>
          <input type="text" class="form-control" id="lastName" placeholder="">
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group">
          <label for="exampleEmail">Email</label>
          <input type="email" class="form-control" id="email" placeholder="">
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group mt-4">
          <label for="exampleDoc">Documento</label>
          <select class="form-control">
            <option>Tipo</option>
            <option>DNI</option>
            <option>Pasaporte</option>
            <option>CUIL</option>
            <option>Licencia de conducir</option>
          </select>
        </div>
      </div>

      <div class="col-md-6">
        <div class="form-group  mt-4">
          <label for="exampleNumber1">Número</label>
          <input type="text" class="form-control" id="number1" placeholder="Ingrese número">
        </div>
      </div>

      <div class="col-md-6 mt-3">
        <div class="form-group">
          <label for="exampleTel">Teléfono</label>
          <input type="text" class="form-control" id="tel" placeholder="Código área">
        </div>
      </div>

      <div class="col-md-6 mt-3">
        <div class="form-group">
          <label for="exampleNumberTel"></label>
          <input type="text" class="form-control mt-2" id="numberTel" placeholder="Número de teléfono">
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group mt-4">
          <label for="exampleInputPassword1">Contraseña actual</label>
          <input type="password" class="form-control" id="actuallyPass" placeholder="">
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group mt-2">
          <label for="exampleInputPassword2">Contraseña nueva</label>
          <input type="password" class="form-control" id="newPass" placeholder="">
          <span class="text-muted validation">
            Debe contener al menos 8 caracteres y debe contener caracteres numéricos y alfanuméricos.
          </span>
        </div>
      </div>

      <div class="col-md-12">
        <div class="form-group mt-2">
          <label for="exampleInputPassword3">Repetir contraseña</label>
          <input type="password" class="form-control" id="repeatPass" placeholder="">
        </div>

        <button type="submit" class="btn btn-lg btn-block btn-warning butt-contact mt-5">Actualizar perfil</button>
      </div>

    </div><!-- /.row -->
  </form>
</div><!-- /.col-lg-5 -->




<br><br>
<br>
<br>